@import "colors";

* {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

html {
  font-size: 62.5% !important;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #802159 !important;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
}
